.note {
  border: none;
  outline: none;
  background: transparent;
  height: 100%;
  flex-grow: 1;
  padding-left: 16px;
  height: 40px;
}

.icon {
  height: 32px;
  margin: 0 9px !important;
  padding: 0 !important;
  width: 32px;
  position: relative;
}

.icon .menu {
  position: absolute;
  font-family: "Roboto", arial, sans-serif !important;
  z-index: 5003;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  padding: 6px 0 !important;
}

.icon .menu .item {
  padding: 15px;
  font-size: 14px;
}

.icon .menu .listItem {
  font-weight: 300;
  margin: 5px 0 5px;
  padding: 10px 15px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.icon .menu .listItem.additional {
  padding: 5px 10px 5px 10px !important;
  margin: 0;
}

.descriptionList.listItem {
  display: flex;
  padding-left: 8px 5px 0 5px;
  align-items: center;
  justify-content: space-between;
}

.descriptionList.listItem button {
  display: block;
  padding: 5px 0 5px;
}

.textarea {
  background: transparent;
}
