@import url("http://fonts.cdnfonts.com/css/google-sans");
body,
textarea {
  margin: 0;
  padding: 0;
  font-size: 13px/27px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Product Sans", sans-serif;
  font-family: "Product Sans Thin", sans-serif;
  font-family: "Product Sans Light", sans-serif;
  font-family: "Product Sans Medium", sans-serif;
  font-family: "Product Sans Black", sans-serif;
}
